html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Hero Section untuk Latar Belakang */
.hero-section {
    background: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=2070') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

/* Overlay gelap untuk membuat teks lebih terbaca */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Konten hero di atas overlay */
.hero-content {
    position: relative;
    z-index: 1;
}

.navbar-brand img {
    margin-right: 8px;
}

/* Spasi vertikal antar section */
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Latar belakang selang-seling */
.section-alternating {
    background-color: #f8f9fa;
}

.carousel-item img {
    height: 600px; /* Menyesuaikan tinggi gambar carousel */
    object-fit: cover; /* Agar gambar tidak gepeng */
}

.footer {
    background-color: #212529; /* Warna bg-dark */
    color: rgba(255, 255, 255, 0.55);
}